{% extends 'bootstrap/base.html' %}

{% block title %}
    {% if title %}{{ title }}{% else %}Главная.{% endif %}
{% endblock %}

{% block content %}
    <body style="background-image: url({{ url_for('static', filename='img/dev/t_or_b.jpg') }})">

        <div class="container" align="center">
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
            <p><a role="button" class="btn btn-lg btn-warning" href="tests">Тесты</a>
            </p><br><br><br><br><br><br><br><br><br><br>
            <p><a role="button" class="btn btn-lg btn-success" href="literature">Теория</a><br>
            </p>
        </div>

    </body>
{% endblock %}
