{% extends 'bootstrap/base.html' %}

{% block title %}
    {% if title %}{{ title }}{% else %}НАЗВАНИЕ{% endif %}
{% endblock %}

{% block content %}
    <body style="background-image: url({{ url_for('static', filename='img/tests/eng/eng_test1.jpg') }})">
        <div class="container" align="center">
            <div class="header"><br><br><br><br><br><br><br>
                <h4>1. The Navajos are one of the largest<br>
                    groups of Native ______________.</h4>
            </div>
            <div>
                <p class="lead"></p>
                <a class="btn btn-success">1. america</a><br><br>
                <a class="btn btn-success">2. americans</a><br><br>
                <a class="btn btn-success">3. american</a>
                </p>
            </div>
            <div>
                <p>Введите номер варианта ответ:</p>
                <input>
            </div>
            <div>
                <p class="lead"></p>
                <a class="btn btn-lg btn-success" href="2" role="button">Ответить</a>
                <a class="btn btn-lg btn-success" href="/login/tests" role="button">Назад</a>
            </div>
        </div>
    </body>
{% endblock %}
